.custom-size{
  width: 50%;
 
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.167)
}
@media (max-width:756px) {
  .custom-size{
    width: 80%;}
  
}
.flag{
  width: 50px;
}
/* select{
  border: none;
  outline: none;
} */