.back{
  width: 100%;
  height: 100vh;
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/e851d234125481.Y3JvcCw4MDIsNjI4LDEyOSwxMTA.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}